

  <h3>Activate Tnpsuite</h3>
  <hr />
  <ol>
    <li>
      Go to the link <a href="http://tnpsuite.com/activate" target="_blank">http://tnpsuite.com/activate</a>
    </li>
    <li data-toggle="collapse" data-target="#license-key-modal" aria-expanded="false" aria-controls="license-key-modal">
      Enter the License Key <span class="fa fa-question-circle info-sup-icon"></span>
      <div class="clear-height-sm"></div>
      <div class="collapse" id="license-key-modal">
        <div class="well">
          <p class="">License Key has been sent to you via email<br /></p>
          <p class="">It looks like <span class="text-muted">XXXX-XXXX-XXXX-XXXX</span></p>
          <div class="clear-height-modal"></div>
          <div class="modal-image-box">
            <img class="modal-image" src="../images/enter-license-key-screen.png" />
          </div>
        </div>
      </div>
    </li>
  </ol>

  <div class="clear-height"></div>

  <h3>First Login</h3>
  <hr />
  <ol>
    <li data-toggle="modal" data-target="#email-password-modal">
      On the Tnpsuite login page <a href="http://tnpsuite.com" target="_blank">tnpsuite.com</a>, enter Primary Email ID and Password
      <span class="fa fa-question-circle info-sup-icon"></span>
    <p class="text-muted small">After first time login, change the password to something of your own choice </p>
    </li>
  </ol>

  <div class="clear-height"></div>
  <a href="#/familiarize-screen" class="btn btn-primary btn-o">Next <i class="fa fa-chevron-circle-right"></i></a>






<!--MODALS-->

<!--License Key Modal-->
<div id="license-key-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">License Key</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!--Email and Password Modal-->
<div id="email-password-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Primary Email and Password</h4>
      </div>
      <div class="modal-body">
        <h5><strong>Primary Email</strong></h5>
          <p>Primary Email ID is the email address on which the License Key was emailed to you.</p>
          <hr />
        <h5><strong>Password</strong></h5>
        <p>The Password has been given to you along with the License Key. After first login, change this password to something else of your own choice.</p>
          <hr />
        <div class="clear-height-modal"></div>
        <div class="modal-image-box">
          <img class="modal-image" src="../images/first-email-password-screen.png" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
