<div class="row">

  <h3>Add Companies</h3>
  <hr />
  <ol>
    <li>Go to <strong>Placements tab</strong> <span class="fa fa-question-circle info-sup-icon"></span></li>
    <li>Add a new Placement Process <span class="fa fa-question-circle info-sup-icon"></span>
      <p class="text-muted small">Example, for final placements, you can create a process named "Campus Placement 2016-17". <br />Or for MBA internships, "MBA Internships 2016-17", etc. </p>
    </li>
    <li>
      Click on the <strong><span class="lnr lnr-cog small"></span> Configure</strong> icon on the created placement process <span class="fa fa-question-circle info-sup-icon"></span>
    </li>
    <li>
      Click <strong><span class="lnr lnr-pencil small"></span> Edit</strong> button in the <strong>Allowed Programs</strong> section and choose programs <span class="fa fa-question-circle info-sup-icon"></span>
      <p class="text-muted small">Choose the programs that should be allowed to participate in this placement process.<br />For example, B.Tech semester 7 and 8 students should be allowed to sit in final placements.</p>
    </li>

  </ol>

</div>
