<div class="row">

  <h3>Initial Configuration</h3>
  <hr />
  <ol>
    <li data-toggle="modal" data-target="#admin-tab-help-modal">Go to <strong>Admin tab</strong> <span class="fa fa-question-circle info-sup-icon"></span></li>
    <li data-toggle="modal" data-target="#add-college-modal">
      Under <strong>COLLEGES</strong> header, click on <strong>+ Add College</strong> and add your college name <span class="fa fa-question-circle info-sup-icon"></span>
      <p class="text-muted small">If you are a group of institutes, you can add multiple colleges here.</p>
    </li>
    <li>Click on <strong><span class="lnr lnr-cog"></span> Configure</strong> icon in front of your added college name</li>
    <li data-toggle="modal" data-target="#general-config-modal">Under <strong>GENERAL</strong> header, enter required details <span class="fa fa-video-camera video-sup-icon"></span></li>
    <li data-toggle="modal" data-target="#departments-config-modal">Under <strong>DEPARTMENTS</strong> header, add your college departments <span class="fa fa-video-camera video-sup-icon"></span></li>
  </ol>

  <div class="clear-height"></div>
  <a href="#/placement-process" class="btn btn-primary btn-o">Next <i class="fa fa-chevron-circle-right"></i></a>

</div>


<!--MODALS-->

<!--Admin Tab Help Modal-->
<div id="admin-tab-help-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Admin Tab</h4>
      </div>
      <div class="modal-body">
        <div class="modal-image-box">
          <div class="modal-image-box">
            <img class="modal-image" src="../images/admin-tab-highlight.png" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Add College Modal-->
<div id="add-college-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add College</h4>
      </div>
      <div class="modal-body">
        <li>Under <strong>COLLEGES header</strong>, click on <strong>+ Add College</strong> </strong></li>
        <div class="clear-height-modal"></div>
        <div class="modal-image-box">
          <img class="modal-image" src="../images/add-college-click.png" />
        </div>
        <div class="clear-height-modal"></div>
        <hr />
        <li>Enter your college name (if you are a group of institutes, you can add multiple colleges)</li>
          <li>Enter a college code (enter any code of your choice)</li>
        <div class="clear-height-modal"></div>
        <div class="modal-image-box">
          <img class="modal-image modal-image-sm" src="../images/add-college-enter.png" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!--General Config Modal-->
<div id="general-config-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">General Configuration</h4>
      </div>
      <div class="modal-body">
        <div class="modal-image-box">
          <video class="modal-image" style="width:100%;" controls>
            <source src="../videos/college-general-settings.mov" type="video/mp4">
            Your browser does not support videos.
          </video>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!--Departments Config Modal-->
<div id="departments-config-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Department Configuration</h4>
      </div>
      <div class="modal-body">
        <div class="modal-image-box">
          <video class="modal-image" style="width:100%;" controls>
            <source src="../videos/college-department-settings.mov" type="video/mp4">
            Your browser does not support videos.
          </video>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
