<div class="row">

  <h3>Placement Process Setup</h3>
  <hr />
  <ol>
    <li data-toggle="modal" data-target="#placement-tab-modal">
      Go to <strong>Placements tab</strong> <span class="fa fa-question-circle info-sup-icon"></span>
    </li>
    <li data-toggle="modal" data-target="#placement-process-add-modal">
      Add a new Placement Process <span class="fa fa-question-circle info-sup-icon"></span>
      <p class="text-muted small">Example, for final placements, you can create a process named "Campus Placement 2016-17". <br />Or for MBA internships, "MBA Internships 2016-17", etc. </p>
    </li>
    <li data-toggle="modal" data-target="#placement-configure-modal">
      Click on the <strong><span class="lnr lnr-cog small"></span> Configure</strong> icon on the created placement process <span class="fa fa-question-circle info-sup-icon"></span>
    </li>
    <li data-toggle="modal" data-target="#allowed-programs-modal">
      Click <strong><span class="lnr lnr-pencil small"></span> Edit</strong> button in the <strong>Allowed Programs</strong> section and choose programs <span class="fa fa-question-circle info-sup-icon"></span>
      <p class="text-muted small">Choose the programs that should be allowed to participate in this placement process.<br />For example, B.Tech semester 7 and 8 students should be allowed to sit in final placements.</p>
    </li>

  </ol>

  <div class="clear-height"></div>
  <a href="#/student-registration-schema" class="btn btn-primary btn-o">Next <i class="fa fa-chevron-circle-right"></i></a>

</div>


<!--MODALS-->

<!--Placement Tab Modal-->
<div id="placement-tab-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Placements Tab</h4>
      </div>
      <div class="modal-body">
        <div class="modal-image-box">
            <img class="modal-image" src="../images/placements-tab-highlight.png" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!--Placement Process Add Modal-->
<div id="placement-process-add-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Placement Process</h4>
      </div>
      <div class="modal-body">
        <h5><strong>Placement Process</strong></h5>
        <p>A Placement Process is the annual cycle of placements.</p>
        <p>Placement Process is defined by its:
          <br />
          a). Participating colleges <br />
          b). Allowed programs (e.g. B.Tech semesters 7-8, MBA semesters 3-4)<br />
          c). Participating companies </p>
        <p>Invitations to companies are sent out for a particular Placement Process. You can add collaborators (i.e. student coordinators, staff etc.) to a Placement Process.</p>
        <p>Examples of Placement Process: "Campus Placements 2016-17", "Internships 2016-17"</p>
        <p>NOTE: If you handle placements for say Engineering, MBA, Law etc. separately, you should create different placement processes for them.</p>
        <hr />
        <div class="clear-height-modal"></div>
        <div class="modal-image-box">
          <img class="modal-image modal-image-sm" src="../images/add-placement-process.png" />
        </div>
        <div class="clear-height-modal"></div>
        <hr />
        <div class="clear-height-modal"></div>
        <div class="modal-image-box">
          <img class="modal-image modal-image-sm" src="../images/add-placement-process-enter.png" />
        </div>
        <div class="clear-height-modal"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Configure Placement Modal-->
<div id="placement-configure-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Configure Icon <span class="lnr lnr-cog small"></span></h4>
      </div>
      <div class="modal-body">
        <div class="modal-image-box">
            <img class="modal-image modal-image-sm" src="../images/placement-configure.png" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!--Allowed Programs Modal-->
<div id="allowed-programs-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Allowed Programs</h4>
      </div>
      <div class="modal-body">
        <div class="modal-image-box">
          <img class="modal-image modal-image-lg" src="../images/allowed-programs-edit.png" />
        </div>
        <hr />
        <div class="modal-image-box">
          <img class="modal-image modal-image-lg" src="../images/allowed-programs.png" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
