<div class="side-nav bs-component" ng-controller="SideNavCtrl">
  <div class="list-group">
    <a class="list-group-item" href="#/activate-login" ng-class="{active: isActive('/activate-login')}"><h5>Activate Tnpsuite</h5></a>
    <a class="list-group-item" href="#/familiarize-screen" ng-class="{active: isActive('/familiarize-screen')}"><h5>Get Familiar with Look</h5></a>
    <a class="list-group-item" href="#/initial-configuration" ng-class="{active: isActive('/initial-configuration')}"><h5>Configure College</h5></a>
    <a class="list-group-item" href="#/placement-process" ng-class="{active: isActive('/placement-process')}"><h5>Set-up Placement Process</h5></a>
    <a class="list-group-item" href="#/student-registration-schema" ng-class="{active: isActive('/student-registration-schema')}"><h5>Customize Student Details</h5></a>
    <a class="list-group-item" href="#/add-students" ng-class="{active: isActive('/add-students')}"><h5>Add Students</h5></a>
    <a class="list-group-item" href="#/add-companies" ng-class="{active: isActive('/add-companies')}"><h5>Add Companies</h5></a>
  </div>
</div>
